.links {
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links > a {
  background-color: brown;
  color: #fff;
  padding: 2%;
  border-radius: 5px;
  font-size: 3vh;
}
